<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{if $title}}{{$title}}{{else}}ISee{{/if}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="看到隐藏的秘密，发现伟大的规律" name="description" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  
  <!-- App css -->
  {{$cssHtml nofilter}}
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo">
        <i><img src="/i/logo_sm.png" alt="" height="28"></i>
        <span>To Discovery</span>
      </div>
      <!-- 头部区域（可配合layui已有的水平导航） -->
      <!--<ul class="layui-nav layui-layout-left">-->
        <!--{{foreach $modules as $module_info}}-->
        <!--<li class="layui-nav-item">-->
          <!--{{if !empty($module_info.url)}}-->
          <!--<a href="{{$module_info.url}}">{{$module_info.name}}</a>-->
          <!--{{else}}-->
          <!--<a href="javascript:;">{{$module_info.name}}<span class="layui-nav-more"></span></a>-->
          <!--<dl class="layui-nav-child layui-anim layui-anim-upbit">-->
            <!--{{foreach $module_info.sub_pages as $sub_page_info}}-->
            <!--<dd><a href="{{$sub_page_info.url}}">{{$sub_page_info.name}}</a></dd>-->
            <!--{{/foreach}}-->
          <!--</dl>-->
          <!--{{/if}}-->
        <!--</li>-->
        <!--{{/foreach}}-->
      <!--</ul>-->
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
          <a href="javascript:;">
            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
            贤心
            <span class="layui-nav-more"></span></a>
          <dl class="layui-nav-child">
            <dd><a href="">基本资料</a></dd>
            <dd><a href="">安全设置</a></dd>
            <dd><a href="">退出</a></dd>
          </dl>
        </li>
        <span class="layui-nav-bar"></span>
      </ul>
    </div>
  
    <div class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
          {{foreach $modules as $module_info}}
          <li class="layui-nav-item">
            {{if !empty($module_info.url)}}
            <a href="{{$module_info.url}}">{{$module_info.name}}</a>
            {{else}}
            <a href="javascript:;">{{$module_info.name}}<span class="layui-nav-more"></span></a>
            <dl class="layui-nav-child">
              {{foreach $module_info.sub_pages as $sub_page_info}}
              <dd><a href="{{$sub_page_info.url}}">{{$sub_page_info.name}}</a></dd>
              {{/foreach}}
            </dl>
            {{/if}}
          </li>
          {{/foreach}}
        </ul>
        
      </div>
    </div>
  
    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">
    