<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{if $title}}{{$title}}{{else}}黄老食{{/if}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="健康是一场马拉松" name="description" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  
  <!-- App favicon -->
  <link rel="shortcut icon" href="/i/favicon.ico">
  
  <!-- App css -->
  {{$cssHtml nofilter}}
  {{$jsHtml nofilter}}

</head>

<body>
  <div id="wrapper">
    
    <!-- Top Bar Start -->
    <div class="topbar">
      <!-- LOGO -->
      <div class="topbar-left">
        <a href="/dashboard.php" class="logo">
          <span>
            黄老食后台管理系统
          </span>
          <i>
            <img src="/i/logo_sm.png" alt="" height="28">
          </i>
        </a>
      </div>
    
      <nav class="navbar-custom">
        <ul class="list-unstyled topbar-right-menu float-right mb-0">
          
          <!-- language -->
          {{* include file="module/topbar/language.html" *}}
          
          <!-- notification -->
          {{* include file="module/topbar/notify.html" *}}
        
          <!-- Chat -->
          {{* include file="module/topbar/message.html" *}}
          
          <!-- Personal -->
          {{include file="module/topbar/personal.html"}}
      
        </ul>
        <ul class="list-inline menu-left mb-0">
          <li class="float-left">
            <button class="button-menu-mobile open-left waves-light waves-effect">
              <i class="dripicons-menu"></i>
            </button>
          </li>
  
          <!-- search -->
          {{* include file="module/topbar/search.html" *}}
        </ul>
      </nav>
  
    </div>
    <!-- Top Bar End -->
  
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
      <div class="slimscroll-menu" id="remove-scroll">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu" id="side-menu">
            <li class="menu-title">Navigation</li>
            
            {{foreach $modules as $module_info}}
            <li>
              <a href="{{if !empty($module_info.url)}}{{$module_info.url}}{{else}}javascript: void(0);{{/if}}">
                <i class="{{if !empty($module_info.class_name)}}{{$module_info.class_name}}{{else}}fi-paper-stack{{/if}}"></i>
                <span>{{$module_info.name}}</span>
                
                {{if !empty($module_info.sub_pages)}}
                <ul class="nav-second-level collapse" aria-expanded="false">
                  {{foreach $module_info.sub_pages as $subpage_info}}
                  <li><a href="{{$subpage_info.url}}">{{$subpage_info.name}}</a></li>
                  {{/foreach}}
                </ul>
                {{/if}}
              </a>
            </li>
            {{/foreach}}
          </ul>
      
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
    
      </div>
      <!-- Sidebar -left -->
    </div>
    <!-- Left Sidebar End -->
    
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
      <!-- Start content -->
      <div class="content">
        <div class="container-fluid">
        
          <div class="row">
            <div class="col-12">
              <div class="page-title-box">
                <h4 id="shiSubTitleArea" class="page-title float-left">Default Sub Title</h4>
                <ol id="shiSubNaviArea" class="breadcrumb float-right" style="display:none;"></ol>
  
                <!--ol class="breadcrumb float-right">
                  <li class="breadcrumb-item"><a href="#">Abstack</a></li>
                  <li class="breadcrumb-item"><a href="#">Tables</a></li>
                  <li class="breadcrumb-item active">Responsive Table</li>
                </ol-->
              
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <!-- end row -->