<style>
.page_header {margin: 0 auto;text-align: center;padding: 20px 0 15px;background: #4d9746;color: white;}
.page_header b {font-size: 20px;display: block;}
.questions_header {background:#fff;font-weight: bold;border-bottom: 1px solid #eee;}
.questions_header.fixed {min-width: 638px;position: fixed;visibility: normal;top: 0;border-bottom: 0 !important;z-index: 10000;box-shadow: 0px 1px 10px rgba(0,0,0,0.1);}
.questions_header h2 {font-size: 18px;font-weight: bold;margin: 0;padding: 0 0 0 20px;color:#4d9746;;line-height: 60px;}
</style>

<section class="head">
  <div class="page_header">
    <b>测测您的体质，看您适合吃什么</b>
  </div>
</section>
<section id="questions" data-simple="{{$simple}}">
  <div class="cbox" style="height: 60px;padding:0;">
    <div class="hd questions_header" style="height: 60px;padding: 0;">
      <h2 style="padding-top:6px;">根据最近3个月的情况回答：</h2>
      <h2 style="padding: 0 0 0 40px;">
        <b style="font-size: 30px;" id="finished_num"></b>
        <b style="font-size: 24px;" id="questions_num"></b>
      </h2>
    </div>
  </div>
  {{foreach $questions as $qidx => $question}}
  <div id="q{{$question.id}}" class="cbox q {{if $qidx==0}}active{{else}}default{{/if}}" data-no="{{$qidx+1}}" data-id="{{$question.id}}">
    <div class="hd">
      <span><b class="f16"><strong class="seq">{{$qidx+1}}</strong>、{{$question.words}}</b></span>
      <b class="unfold"></b>
    </div>
    <div class="test_radio">
      {{foreach $question.answers as $idx=>$answer}}
      <a href="javascript:;" data-val="{{$idx}}" {{if 0==$qidx}}style="padding: 0.1rem 1.2rem;"{{/if}}>{{$answer}}</a>
      {{/foreach}}
    </div>
  </div>
  {{/foreach}}
</section>

<section>
  <div class="cbox submit">
    <button type="button" id="submit">提交测试</button>
  </div>
  {{if $simple}}
  <div class="cbox active">
    <div class="recommend" style="font-size: 17px;">
      <div class="prompt">
        <h4>温馨提示</h4>
        <p>1、<span class="cblue">快速测试</span> 仅提供参考，不建议作为依据。</p>
        <p>2、如想获得更精确的体质，请点击 <a class="cblue" href="http://m.shi.hhshou.cn/user/constitution_test.php">“详细测试”</a>。该测试来自 中华中医药学会 于2009年4月9日颁布的国家标准《中医体质分类与判定》</p>
      </div>
    </div>
  </div>
  {{else}}
  <div class="cbox active">
    <div class="recommend" style="font-size: 17px;">
      <div class="prompt">
        <h4>温馨提示</h4>
        <p><b style="margin: 10px 0 5px;display: inline-block;">提交代表你已接受以下声明:</b></p>
        <p>1、本测试不作为诊断和治疗的依据，对于已经医生确诊的疾病，应按照医嘱积极治疗。所提及的内容仅作为生活保健的咨询建议。如遇不适请及时就医。</p>
        <p>2、本测试不适用于孕妇、乳母和儿童</p>
      </div>
    </div>
  </div>
  {{/if}}
</section>
